nav {
    width: 100%;
    padding: 0 50px;
    position: absolute;
    box-sizing: border-box;
    border-bottom-color: #cccccc;
    background-color: #ffffff;
    border-bottom-width: 10px;
    clear: both;
}

nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    padding: 15px 20px;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    padding: 20px 30px;
    transition: .5s;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-weight: 500;
    padding: 30px;
    margin: 0px;

}

nav li:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

nav li:active {
    background-color: darkgray; 
}

.toggle {
    width: 100%;
    padding: 15px 20px;
    text-align: right;
    background-color: #4aaaa5;
    color: #ffffff;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}

/*about page body styling begins here*/

body {
    background-image: url('../images/squares.png');
    margin: 0;
    padding: 0;
    display: flex;
}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    position: relative;
    border-width: 10px;
    top: 100px ;
    width: 920px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 1px 1px 20px 0px;
    border-bottom: 2px solid #dddddd;

}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;

}

img {
    float: left;
    padding: 10px;
    width: 200px;
    height: auto;
}

/*contact page body styling begins here*/

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label[for=fullname], label[for=email], label[for=dmessage] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: block;
    line-height: 30px;
}

button[type=submit] {
    background-color: #4aaaa5;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: 2px;
    border-radius: 4px;
}

button[type=submit]:hover {
    background-color: white;
    color: #4aaaa5;
    padding: 15px;
    margin: 0px;
    border: 1px solid #4aaaa5;
}

button[type=submit]:active {
    background-color: #4aaaa5;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: 2px;
    border-radius: 4px;
}

/*portfolio page body styling begins here*/

.pImages {
    display: grid;
    height: 150px;
    width: 250px;
    grid-gap: 20px;
}

footer {
    background-color: #666666;
    clear: both;
    position: absolute;
    top: 100p;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px 0px 0px 0px;
    border-width: 10px 0 0 0;
    border-color: #4aaaa5;
    border-style: solid;
}

#footText {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    text-align: center;
}

@media screen and (max-width: 980px) {

    nav ul li {
        margin-left: 0;
    }

}

@media screen and (max-width: 768px) {
    .toggle {
        display: block;

    }

    nav ul {
        width: 100%;
        display: none;
        background-color: #4aaaa5;
        
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav a {
        color: #ffffff;
    }

    .active {
        display: block;
    }

    section {
        z-index: 30;
    }
}

@media screen and (max-width: 640px) {
    .toggle {
        display: block;

    }

    nav ul {
        width: 100%;
        display: none;
        background-color: #4aaaa5;
        
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav a {
        color: #ffffff;
    }

    .active {
        display: block;
    }
}

